.showimage{
  display: flex;
  justify-content: center;
}
body{
  height: 98vh;
}
.container {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.containerr {
  width: 100%;
  height: 98vh;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 15px;
}
.head-detail{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.threeheader-detail{
  width: 100%;
  margin-left: -5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  line-height: 5px;
}

.threeheader-detail a {
  font-size: 20px;
  color: #68a4c4;
}
.threeheader-detail p {
  font-size: 30px;
}
.threeheader-line-detail {
  height: 5px;
  width: 200px;
  background-color: #123649;
  border-radius: 10px;
}
.back-detail {
  font-size: 20px;
  width: 5%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 999;
}
.back-detail a {
  color: #123649;
}
.des {
  width: 100%;
  height: 88%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.des1 {
  width: 100%;
  height: 88vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.des5 {
  width: 100%;
  height: 88vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pic {
  width: 40%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pic1 {
  width: 50%;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider {
  width: 70%;
  max-width: 40vw;
  height: 300px;
  margin: auto;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}
@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}
.detail {
  width: 70%;
  height: 98%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.detail2 {
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.detail3 {
  width: 60%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.detail4 {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.detail-box {
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: 0px 7px 53px 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.detail-box1 {
  width: 700px;
  height: auto;
  background-color: white;
  box-shadow: 0px 7px 53px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.detail-box2 {
  width: 90%;
  height: auto;
  background-color: white;
  box-shadow: 0px 7px 53px 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}
.detail-name {
  width: 100%;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #68a4c4;
}
.detail-list {
  width: 100%;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #68a4c4;
}
.detail-list a {
  width: 250px;
}
.detail-text {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.detail-text1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.detail-left {
  width: 65%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.detail-left ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 35px;
}
.detail-left li {
  list-style-type: none;
}
.detail-right {
  width: 35%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.detail-right ul {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 35px;
}
.detail-left1 {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.detail-left1 ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 35px;
}
.detail-left1 li {
  list-style-type: none;
}
.detail-right1 {
  width: 60%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.detail-right1 ul {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 35px;
}
.detail-leftone {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.detail-leftone ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 35px;
}
.detail-leftone li {
  list-style-type: none;
}
.detail-lefttwo {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 15px;
}
.detail-lefttwo a {
  width: 250px;
}
.back {
  font-size: 20px;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 50px;
  margin-top: -70px;
}
